::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #8D8D8D;
} */

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
:root {
  --c-green: #42b883;
  --c-green-light: #42d392;
  --c-green-lighter: #35eb9a;
  --c-green-dark: #33a06f;
  --c-green-darker: #155f3e;
  --c-blue: #3b8eed;
  --c-blue-light: #549ced;
  --c-blue-lighter: #50a2ff;
  --c-blue-dark: #3468a3;
  --c-blue-darker: #255489;
  --c-yellow: #ffc517;
  --c-yellow-light: #ffe417;
  --c-yellow-lighter: #ffff17;
  --c-yellow-dark: #e0ad15;
  --c-yellow-darker: #bc9112;
  --c-red: #ed3c50;
  --c-red-light: #f43771;
  --c-red-lighter: #fd1d7c;
  --c-red-dark: #cd2d3f;
  --c-red-darker: #ab2131;
  --c-purple: #de41e0;
  --c-purple-light: #e936eb;
  --c-purple-lighter: #f616f8;
  --c-purple-dark: #823c83;
  --c-purple-darker: #602960;
}
