::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

// 处理代码块出现纵向滚动条
.vp-doc div[class*='language-']{
  overflow-y: hidden;
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #8D8D8D;
} */

:root {
  --c-green: #42b883;
  --c-green-light: #42d392;
  --c-green-lighter: #35eb9a;
  --c-green-dark: #33a06f;
  --c-green-darker: #155f3e;
  --c-blue: #3b8eed;
  --c-blue-light: #549ced;
  --c-blue-lighter: #50a2ff;
  --c-blue-dark: #3468a3;
  --c-blue-darker: #255489;
  --c-yellow: #ffc517;
  --c-yellow-light: #ffe417;
  --c-yellow-lighter: #ffff17;
  --c-yellow-dark: #e0ad15;
  --c-yellow-darker: #bc9112;
  --c-red: #ed3c50;
  --c-red-light: #f43771;
  --c-red-lighter: #fd1d7c;
  --c-red-dark: #cd2d3f;
  --c-red-darker: #ab2131;
  --c-purple: #de41e0;
  --c-purple-light: #e936eb;
  --c-purple-lighter: #f616f8;
  --c-purple-dark: #823c83;
  --c-purple-darker: #602960;
}

.primary {
  color: #fff;
  background-color: var(--c-blue);
  &:hover,
  &:active,
  &:focus {
    background-color: var(--c-blue-light);
  }
}
.primary--text {
  color: var(--c-blue);
}

@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin num-wrap($lineNum: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  -webkit-box-orient: vertical;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.self-start {
  align-self: flex-start;
}
.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}

.full-w {
  width: 100%;
}
.full-h {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.full-v {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}
.w100 {
  width: 100%;
}

@for $i from 1 through 19 {
  .font-#{9 + $i} {
    font-size: 9 + $i + px !important;
    line-height: 9 + $i + px;
  }
  .ma-#{-1 + $i} {
    margin: ($i - 1) * 4 + px !important;
  }
  .mt-#{-1 + $i} {
    margin-top: ($i - 1) * 4 + px !important;
  }
  .mr-#{-1 + $i} {
    margin-right: ($i - 1) * 4 + px !important;
  }
  .ml-#{-1 + $i} {
    margin-left: ($i - 1) * 4 + px !important;
  }
  .mb-#{-1 + $i} {
    margin-bottom: ($i - 1) * 4 + px !important;
  }
  .mx-#{-1 + $i} {
    margin: 0 ($i - 1) * 4 + px !important;
  }
  .my-#{-1 + $i} {
    margin: ($i - 1) * 4 + px 0 !important;
  }
  .pa-#{-1 + $i} {
    padding: ($i - 1) * 4 + px !important;
  }
  .px-#{-1 + $i} {
    padding: 0 ($i - 1) * 4 + px !important;
  }
  .py-#{-1 + $i} {
    padding: ($i - 1) * 4 + px 0 !important;
  }
  .pt-#{-1 + $i} {
    padding-top: ($i - 1) * 4 + px !important;
  }
  .pl-#{-1 + $i} {
    padding-left: ($i - 1) * 4 + px !important;
  }
  .pr-#{-1 + $i} {
    padding-right: ($i - 1) * 4 + px !important;
  }
  .pb-#{-1 + $i} {
    padding-bottom: ($i - 1) * 4 + px !important;
  }
}

@for $i from 1 through 3 {
  .flex-#{$i} {
    flex: $i !important;
  }

  .line-#{$i} {
    @include num-wrap($i);
  }
  .font-#{400 + $i*100} {
    font-weight: 400 + $i * 100 !important;
  }
}
